In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [19]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/kristenmaskery/Desktop/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Saint-Leu,RE,73.40,broken clouds,-21.15,55.28,La Caz Oceane
1,5,Hambantota,LK,80.51,overcast clouds,6.12,81.12,Bungalow 63
2,6,Ribeira Grande,PT,75.20,scattered clouds,38.52,-28.70,Quinta da Meia Eira
3,12,Castro,BR,78.96,broken clouds,-24.79,-50.01,CHACARA BAILLY
4,15,Aklera,IN,78.06,clear sky,24.42,76.57,hotel sangam palace

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Touros"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Touros"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Natal"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Cabedelo"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Conde"]

In [91]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np
start = vacation_start.to_numpy()[0]
start = (start[5],start[6])
stop1 = vacation_stop1.to_numpy()[0]
stop1= (stop1[5],stop1[6])
stop2 = vacation_stop2.to_numpy()[0]
stop2= (stop2[5],stop2[6])
stop3 = vacation_stop3.to_numpy()[0]
stop3= (stop3[5],stop3[6])
end=start
stop3

AttributeError: 'tuple' object has no attribute 'dtype'

In [84]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
touros_to_touros = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')
fig.add_layer(touros_to_touros)
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,275,Touros,BR,86.0,scattered clouds,-5.20,-35.46,INN NEW HORIZON
1,590,Natal,BR,86.0,scattered clouds,-5.79,-35.21,Villa Park Hotel | Natal
2,85,Cabedelo,BR,86.0,broken clouds,-6.98,-34.83,Lua Mansa Pousada
3,410,Conde,BR,86.0,broken clouds,-7.26,-34.91,Pousada Beija Flor
4,275,Touros,BR,86.0,scattered clouds,-5.20,-35.46,INN NEW HORIZON

In [98]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [99]:
# 11a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))